#locked, #recent, #nologin, .toprows, #unconfirmed{
    margin: 20px;
}
.recent{
    background-color: pink;
    margin-bottom: 20px;
}
.locked{
    background-color: lightgrey;
    margin-bottom: 20px;
}
.nologin{
    background-color: rgb(213, 213, 164);
    margin-bottom: 20px;
}
.unconfirmed{
    background-color: rgb(159, 202, 229);
    margin-bottom: 20px;
}
.recent, .locked, .nologin, #box, .unconfirmed{
    padding: 10px;
    border-radius: 20px;
}
.icon{
    float: right;
    display: inline-block;
}
strong{
    font-size: 850%;
}