.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
    flex-wrap: wrap;
}

h1 {
    font-weight: 700;
}

.page-heading {
    margin: 2rem 0rem;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 1rem;
}

.page-heading h1 {
    margin-bottom: 0px;
}

.join-chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-code {
    border: #D6D2D2 1px solid;
    width: 75%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
}

.join-btn {
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: var(--env-green);
    border: none;
    border-radius: 2rem;
}

.create-btn {
    color: #fff;
    background-color: var(--env-green);
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin-top: 5px;;
}

.create-chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0rem;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 1rem;
    flex-wrap: wrap;
}

.create-chat .span-heading {
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
}

.create-chat .span-para {
    display: block;
    width: 80%;
    font-size: 14px;
}


.message-box {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    margin: 2rem 0rem;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.msg-input {
    padding: 10px;
    display: flex;
    border: #D6D2D2 1px solid;
    width: 95%;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

#send-btn {
    color: #fff;
    background-color: var(--env-green);
    border: none;
    border-radius: 2rem;
    padding: .5rem 1.25rem;
    margin-top: 5px;;
}

h2 {
    text-align: center;
    font-weight: 700;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.muted {
    font-size: 10px;
    color: darkgray;
}

.message {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 1rem;
    width: 65%;
    flex-wrap: wrap;
}

.my-msg {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 1rem;
    width: 65%;
    flex-wrap: wrap;
}

.my-msg .theMsg {
    background-color: var(--env-green);
}

.text-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.theMsg {
    border: none;
    border-radius: .75rem;
    background-color: #f5f5f5;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.text-content {
    font-style: italic;
}

.back-btn {
    margin: 1rem;
    color: red !important;
}

.back-btn svg {
    margin-top: -2px;
    margin-right: 5px;
}

.red {
    color: red;
    border-color: red;
}