.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
}

.page-heading {
    margin: 2rem 0rem;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 1rem;
}

.page-heading h1 {
    margin-bottom: 0px;
}

.join-chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-code {
    border: #D6D2D2 1px solid;
    width: 75%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
}

.join-btn {
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: var(--env-green);
    border: none;
    border-radius: 2rem;
}

.create-btn {
    color: #fff;
    background-color: var(--env-green);
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin-top: 5px;;
}

.create-chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0rem;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 1rem;
}

.create-chat .span-heading {
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
}

.create-chat .span-para {
    display: block;
    width: 80%;
    font-size: 14px;
}

.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: darkgray;
}