*:focus {
    outline: none;
}

.content {
    width: 55%;
    margin: 0 auto;
    padding: 2rem;
}

.postBox {
    border: #D6D2D2 1px solid;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 3rem;
}

/* New Post Box */

.newPostBox .textInput::placeholder {
    color: #C0C0C0;
}

.newPostBox .textInput {
    background-color: transparent;
    border: none;
}

.textInput {
    display: block;
    overflow: hidden;
    resize: none;
    overflow-y: auto;
}

.newPostInput {
    margin: .75rem;
    width: 95%;
}

.buttonsContainer {
    margin-left: .75rem;
    display: flex;
    justify-content: space-between;
}

.buttonsContainer svg {
    display: inline-block;
    color: var(--env-green);
}

#charCounter {
    margin-right: .75rem;
}

.postBtn {
    color: #fff;
    background-color: var(--env-green);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

/* Posts Box */

.heading {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.posterName {
    font-weight: 700;
}

.timestamp {
    color: #857676;
}

.desc {
    padding: .5rem 1.5rem;
}

.mediaFiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.mediaFiles img {
    max-width: 45%;
    border-radius: 1rem;
    max-height: 350px;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .75rem 1rem;
}

.mid svg {
    width: 25px;
    stroke: var(--env-green);
}

.like span {
    font-size: small;
}

.like span.num {
    color: var(--env-green);
    font-weight: 700;
    margin-right: 5px;
}

/* Divider */
.divider {
    height: 1px;
    padding: 0rem 2rem;
    background-color: #D6D2D2;
}

/* Comments */

.commentBox {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentInput {
    max-height: 40px;
    font-size: 12px;
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
}

.commentBox .left {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.commentsContainer .avatar {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.commentBox svg {
    margin-top: 3px;
}

.comments {
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comments .desc {
    padding: 0.25rem 0rem;
}

.comments .left {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    flex: 1 1 auto;
}

.comments .info, .desc {
    width: 100%;
    overflow-wrap: anywhere;
}

.comments .like {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments .like svg {
    margin-top: 16px;
}

.comments .like span {
    color: var(--env-green);
    font-weight: 700;
}