*:focus {
    outline: none;
}

table, th, td {
  border: 1px solid;
  width: 100%;
}

td{
  width:100px;
}

.leaderboardfirst {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.leaderboardsecond{
  background-color: silver;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 60%, #f5f7fa 100%);
}

.leaderboardthird{
  background: linear-gradient(120deg, rgb(226, 167, 78) 1%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 120.5%);
}

.membername{
  width: 80%
}
.content {
    width: 55%;
    margin: 0 auto;
    padding: 2rem;
}

button{
    width: 100px
}

.LeaderboardButtons {
  overflow: hidden;
  background-color: #f1f1f1;
}

.LeaderboardButtons button{
    border: #D6D2D2 1px solid;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 3rem;
}

.LeaderboardButtons button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.LeaderboardButtons button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}


.GlobalButtons {
  overflow: hidden;
  background-color: #f1f1f1;
}

.GlobalButtons button{
    border: #D6D2D2 1px solid;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 3rem;
}

.GlobalButtons button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.GlobalButtons button.active {
  background-color: #ccc;
}

.globalcontent {
  display: none;
  border-top: none;

