*:focus {
    outline: none;
}

table, th, td {
  border: 1px solid;
}

.leaderboardfirst {
  background-color: gold;
}

.leaderboardsecond{
  background-color: silver;
}

.leaderboardthird{
  background-color: #CD7F32;
}

.content {
    width: 55%;
    margin: 0 auto;
    padding: 2rem;
}

button{
    width: 100px
}

.LeaderboardButtons {
  overflow: hidden;
  background-color: #f1f1f1;
}

.LeaderboardButtons button{
    border: #D6D2D2 1px solid;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 3rem;
}

.LeaderboardButtons button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.LeaderboardButtons button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}


.GlobalButtons {
  overflow: hidden;
  background-color: #f1f1f1;
}

.GlobalButtons button{
    border: #D6D2D2 1px solid;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 3rem;
}

.GlobalButtons button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.GlobalButtons button.active {
  background-color: #ccc;
}

.globalcontent {
  display: none;
  border-top: none;

