*:focus {
    outline: none;
}

.content {
    width: 55%;
    margin: 0 auto;
    padding: 2rem;
}

button{
    width: 150px
}

.LeaderboardButtons {
  overflow: hidden;
  background-color: #f1f1f1;
}

.LeaderboardButtons button{
    border: #D6D2D2 1px solid;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.LeaderboardButtons button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.LeaderboardButtons button.active {
  background-color: var(--env-green);
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}


.InviteButtons {
  overflow: hidden;
  background-color: #f1f1f1;
}

.InviteButtons button{
    border: #D6D2D2 1px solid;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.InviteButtons button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.InviteButtons button.active {
  background-color: var(--env-green);
}

.invitecontent {
  display: none;
  border-top: none;
}

