.main{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 2%;
}
.posts{
    height: 100%;
    width: 40%;
    float: left;
    background-color: white;
    margin-left: 2%;
    padding: 20px;
    border-radius: 20px;
}
.about, .contact{
    height: 50%;
    width: 50%;
    float: right;
    background-color: white;
    margin: 0 2% 2% 0;
    padding: 20px;
    border-radius: 20px;
}

.profile {
    text-align: center;
}

.backbutton {
    text-align: left;
}

.profile_pic{
    text-align: center;
}

.profile_pic img{
    border-radius: 50%;
}

.container {
    margin: 0 auto !important
}

.col{
    background-color: white;
    margin: 20px;
    padding: 30%;
    border-radius: 10%;
}