{% extends "admin_base.html" %}
{% set active_page = "organisations" %}
{% block title %}EnvironMeet - Create Organisation{% endblock %}
{% from '_formhelpers.html' import render_field %}

{% block head %}
<link rel="stylesheet" href="../../../static/styles/accounts.css">
{% endblock %}

{% block content %}
<div class="content">
  <a href="/organisations">
  <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" viewBox="0 0 7.41 12">
  <path id="Path_23" data-name="Path 23" d="M15.41,16.09,10.83,11.5l4.58-4.59L14,5.5l-6,6,6,6Z" transform="translate(-8 -5.5)"/>
  </svg>
</a>
    <h1>
    EnvironMeet - Create Organisation
    </h1>
  <div class="cont">
    <form class="bg-white border border-grey rounded-5 me-5 p-3" method="POST" action="" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group p-1">
        {{ render_field(form.name, class="form-control") }}
      </div>
      <div class="form-group p-1">
        {{ render_field(form.username, class="form-control") }}
      </div>
      <div class="form-group p-1">
        {{ render_field(form.email, class="form-control") }}
      </div>
      <h5>**Passwords must have a length of at least 10 characters, with requirements of at least one capital letter, one small letter, one special character, one integer.</h5>
      <div class="form-group p-1">
        <label for="disabledinput">Generated password:</label>
        <input class="form-control" type="text" id="password" name="password" readonly style="background-color: #f0ecec">
      </div>
      <!-- <div class="tooltip"> -->
        <button type="button" onclick="myFunction()">
          <!-- onmouseout="outFunc()"  -->
          <svg width="40px" height="40px" viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" style="visibility: visible !important;">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.676 14.248C17.676 15.8651 16.3651 17.176 14.748 17.176H7.428C5.81091 17.176 4.5 15.8651 4.5 14.248V6.928C4.5 5.31091 5.81091 4 7.428 4H14.748C16.3651 4 17.676 5.31091 17.676 6.928V14.248Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.252 20H17.572C19.1891 20 20.5 18.689 20.5 17.072V9.75195" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          <!-- <span class="tooltiptext" id="myTooltip">Copy to Clipboard</span> -->
        </button>
      <!-- </div> -->
      <div class="form-group p-1">
        {{ render_field(form.contact, class="form-control") }}
      </div>
      <div class="form-group p-1">
        {{ render_field(form.address, class="form-control") }}
      </div>
      <div class="form-group p-1">
        {{ render_field(form.description, class="form-control") }}
      </div>
      <div class="form-group p-1">
        <label for="profile_pic">Display Picture</label>
        <input type="file" name="profile_pic" id="profile_pic" accept="image/*">
      </div>
      <input type="submit" value="Submit" class="btn btn-warning p-1"/>
    </form>
  </div>
</div>
<script>
  function myFunction() {
    var copyText = document.getElementById("password");
    copyText.select();
    navigator.clipboard.writeText(copyText.value);
    
    // var tooltip = document.getElementById("myTooltip");
    // tooltip.innerHTML = "Copied!";
  }

  function outFunc() {
    var tooltip = document.getElementById("myTooltip");
    tooltip.innerHTML = "Copy to clipboard";
  }

  function genPassword() {
      var uppercaseChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
      var lowercaseChars = "abcdefghijklmnopqrstuvwxyz";
      var specialChars = "!@#$%^&*()";
      var numericChars = "0123456789";

      var requiredChars = [
          uppercaseChars,
          lowercaseChars,
          specialChars,
          numericChars
      ];

      var passwordLength = 10;
      var password = "";

      // Ensure at least one character from each requiredChars set
      requiredChars.forEach(function (charSet) {
          var randomNumber = Math.floor(Math.random() * charSet.length);
          password += charSet.substring(randomNumber, randomNumber + 1);
      });

      // Fill the rest of the password with random characters
      for (var i = password.length; i < passwordLength; i++) {
          var randomNumber = Math.floor(Math.random() * requiredChars.length);
          var randomCharSet = requiredChars[randomNumber];
          var randomChar = randomCharSet[Math.floor(Math.random() * randomCharSet.length)];
          password += randomChar;
      }

      document.getElementById("password").value = password;
  }

  document.addEventListener("DOMContentLoaded", function() {
    // Call your function here
    genPassword();
  });
  </script>
{% endblock %}