{% extends "admin_base.html" %}
{% set active_page = "members" %}
{% block title %}Environmeet - Members{% endblock %}
{% block head %}
<link rel="stylesheet" href="../../../static/styles/accounts.css">
{% endblock %}
{% block content %}
<div class="content">

  <a href="/admin"><img src="/app/static/images/backbutton.png" alt="" style="width: 30px; height: 30px;"></a>
  <h1>Members</h1>
  <button id="create" class="btn btn-primary btn-block" onclick="location.href='/accounts/members/create'">Create Account</button>
  <input type="text" id="myInput" onkeyup="search()" placeholder="Search for names.." title="Type in a name" style="border-radius: 10px; padding:5px">
  <div>
    <table class="table table-striped" id="myTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Email</th>
          <th>Contact</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td colspan="7" style="text-align: center;">There are currently 0 entries.</td>
        </tr> -->
        {% for member in members %}
        <tr>
          <td>{{ member.id }}</td>
          <td>{{ member.name }}</td>
          <td>{{ member.gender }}</td>
          <td>{{ member.email }}</td>
          <td>{{ member.contact }}</td>
          <td>
            <a href="{{ url_for('update_member', id=member.id) }}">
              <svg id="update" xmlns="http://www.w3.org/2000/svg" width="24" height="24.003" viewBox="0 0 24 24.003">
                <g id="ic_border_color_24px" transform="translate(0 0.003)">
                  <path id="Path_81" data-name="Path 81" d="M17.75,7,14,3.25l-10,10V17H7.75Zm2.96-2.96a1,1,0,0,0,0-1.41L18.37.29a1,1,0,0,0-1.41,0L15,2.25,18.75,6Z"/>
                </g>
              </svg>
              
            </a>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-{{member.id}}">
              <svg id="delete" xmlns="http://www.w3.org/2000/svg" width="18.669" height="24.003" viewBox="0 0 18.669 24.003">
                <path id="ic_delete_24px" d="M6.333,24.336A2.675,2.675,0,0,0,9,27H19.668a2.675,2.675,0,0,0,2.667-2.667v-16h-16Zm17.335-20H19L17.668,3H11L9.667,4.333H5V7H23.669Z" transform="translate(-5 -3)"/>
              </svg>
            </button>

          </td>
  <!-- Modal -->
  <div class="modal fade" id="modal-{{member.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this account?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger"><a href="{{ url_for('delete_member', id=member.id) }}" id="deletebtn" style="color: white;">Delete</a></button>
        </div>
      </div>
    </div>
  </div>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}