{% extends "admin_base.html" %}
{% set active_page = "admins" %}
{% block title %}EnvironMeet - Admins{% endblock %}
{% block head %}
<link rel="stylesheet" href="../../../static/styles/accounts.css">
<script src="{{url_for('static', filename='scripts/accsearch.js')}}"></script>
{% endblock %}
{% block content %}
<div class="content">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class='flashes'>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} " id='alert'>
    <span>{{ message }}</span>
    <button type="button" style='float:right;'class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  <a href="/admin">
    <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" viewBox="0 0 7.41 12">
    <path id="Path_23" data-name="Path 23" d="M15.41,16.09,10.83,11.5l4.58-4.59L14,5.5l-6,6,6,6Z" transform="translate(-8 -5.5)"/>
    </svg>
  </a>
  <h1>Admins</h1>
  <button id="create" class="btn btn-danger btn-block" onclick="location.href='/admins/create'">Create Account</button>
  <input type="text" id="myInput" onkeyup="search()" placeholder="Search for emails.." title="Type in a name" style="border-radius: 10px; padding:5px">
  <div>
    <table class="table table-striped" id="myTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Contact</th>
          <th>Locked?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td colspan="7" style="text-align: center;">There are currently 0 entries.</td>
        </tr> -->
        {% for admin, name, contact in combined_data %}
        <tr>
          <td>{{ name }}</td>
          <td>{{ admin.email }}</td>
          <td>{{ admin.gender }}</td>
          <td>{{ contact }}</td>
          <td>{{ admin.is_locked }}</td>
          <td>
            <a href="{{ url_for('updateadmin', hashedid=object_id_to_hash(object_id=admin.id, act='admin')) }}"> 
              <svg id="update" xmlns="http://www.w3.org/2000/svg" width="24" height="24.003" viewBox="0 0 24 24.003">
                <g id="ic_border_color_24px" transform="translate(0 0.003)">
                  <path id="Path_81" data-name="Path 81" d="M17.75,7,14,3.25l-10,10V17H7.75Zm2.96-2.96a1,1,0,0,0,0-1.41L18.37.29a1,1,0,0,0-1.41,0L15,2.25,18.75,6Z"/>
                </g>
              </svg>
              
            </a>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-{{ admin.id }}">
              <svg id="delete" xmlns="http://www.w3.org/2000/svg" width="18.669" height="24.003" viewBox="0 0 18.669 24.003">
                <path id="ic_delete_24px" d="M6.333,24.336A2.675,2.675,0,0,0,9,27H19.668a2.675,2.675,0,0,0,2.667-2.667v-16h-16Zm17.335-20H19L17.668,3H11L9.667,4.333H5V7H23.669Z" transform="translate(-5 -3)"/>
              </svg>
            </button>

            {% if admin.is_locked == False %}
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-{{admin.id}}-lockuser">
                  <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3a5 5 0 0 1 5 5v2.005c.77.015 1.246.07 1.635.268a2.5 2.5 0 0 1 1.092 1.092C20 11.9 20 12.6 20 14v3c0 1.4 0 2.1-.273 2.635a2.5 2.5 0 0 1-1.092 1.092C18.1 21 17.4 21 16 21H8c-1.4 0-2.1 0-2.635-.273a2.5 2.5 0 0 1-1.093-1.092C4 19.1 4 18.4 4 17v-3c0-1.4 0-2.1.272-2.635a2.5 2.5 0 0 1 1.093-1.092c.389-.199.865-.253 1.635-.268V8a5 5 0 0 1 5-5zm3 5v2H9V8a3 3 0 1 1 6 0z" fill="#000000"/></svg>
                </button>
                <div class="modal fade" id="modal-{{ admin.id }}-lockuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Lock Account</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to lock this account?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{{ url_for('lockuser', id=admin.id) }}" class="btn btn-success" style="color: white !important;">Lock Account</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-{{admin.id}}-unlockuser">
                  <svg fill="#000000" width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="unlock" class="icon glyph"><path d="M18,8H9V7a3,3,0,0,1,5.6-1.5,1,1,0,1,0,1.73-1A5,5,0,0,0,7,7V8H6a2,2,0,0,0-2,2V20a2,2,0,0,0,2,2H18a2,2,0,0,0,2-2V10A2,2,0,0,0,18,8Z"></path></svg>
                </button>
                <div class="modal fade" id="modal-{{ admin.id }}-unlockuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Unlock Account</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to unlock this account?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{{ url_for('unlockuser', id=admin.id) }}" class="btn btn-success" style="color: white !important;">Unlock Account</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
{% for admin in admins %}
<div class="modal fade" id="modal-{{ admin.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger"><a href="{{ url_for('deleteadmin', hashedid=object_id_to_hash(object_id=admin.id, act='admin')) }}" id="deletebtn" style="color: white !important;">Delete</a></button> 
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-{{ admin.id }}-unlockuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelz">Unlock Account</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to unlock this account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{{ url_for('unlockuser', id=admin.id) }}" class="btn btn-success" style="color: white !important;">Unlock Account</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}