{% extends "admin_base.html" %}
{% set active_page = "admins" %}
{% block title %}EnvironMeet - Admins{% endblock %}
{% block head %}
<link rel="stylesheet" href="../../../static/styles/accounts.css">
<script src="{{url_for('static', filename='scripts/accsearch.js')}}"></script>
{% endblock %}
{% block content %}
<div class="content">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class='flashes'>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} " id='alert'>
    <span>{{ message }}</span>
    <button type="button" style='float:right;'class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  <a href="/admin">
    <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" viewBox="0 0 7.41 12">
    <path id="Path_23" data-name="Path 23" d="M15.41,16.09,10.83,11.5l4.58-4.59L14,5.5l-6,6,6,6Z" transform="translate(-8 -5.5)"/>
    </svg>
  </a>
  <h1>Admins</h1>
  <button id="create" class="btn btn-danger btn-block" onclick="location.href='/admins/create'">Create Account</button>
  <input type="text" id="myInput" onkeyup="search()" placeholder="Search for emails.." title="Type in a name" style="border-radius: 10px; padding:5px">
  <div>
    <table class="table table-striped" id="myTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Contact</th>
          <th>Locked?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td colspan="7" style="text-align: center;">There are currently 0 entries.</td>
        </tr> -->
        {% for admin in admins %}
        <tr>
          <td>{{ admin.name }}</td>
          <td>{{ admin.email }}</td>
          <td>{{ admin.gender }}</td>
          <td>{{ admin.contact }}</td>
          <td>{{ admin.is_locked }}</td>
          <td>
            <a href="{{ url_for('updateadmin', hashedid=object_id_to_hash(object_id=admin.id, act='admin')) }}"> 
              <svg id="update" xmlns="http://www.w3.org/2000/svg" width="24" height="24.003" viewBox="0 0 24 24.003">
                <g id="ic_border_color_24px" transform="translate(0 0.003)">
                  <path id="Path_81" data-name="Path 81" d="M17.75,7,14,3.25l-10,10V17H7.75Zm2.96-2.96a1,1,0,0,0,0-1.41L18.37.29a1,1,0,0,0-1.41,0L15,2.25,18.75,6Z"/>
                </g>
              </svg>
              
            </a>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-{{ admin.id }}">
              <svg id="delete" xmlns="http://www.w3.org/2000/svg" width="18.669" height="24.003" viewBox="0 0 18.669 24.003">
                <path id="ic_delete_24px" d="M6.333,24.336A2.675,2.675,0,0,0,9,27H19.668a2.675,2.675,0,0,0,2.667-2.667v-16h-16Zm17.335-20H19L17.668,3H11L9.667,4.333H5V7H23.669Z" transform="translate(-5 -3)"/>
              </svg>
            </button>

            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-{{ admin.id }}-unlockuser">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z"/>
              </svg>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
{% for admin in admins %}
<div class="modal fade" id="modal-{{ admin.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger"><a href="{{ url_for('deleteadmin', hashedid=object_id_to_hash(object_id=admin.id, act='admin')) }}" id="deletebtn" style="color: white !important;">Delete</a></button> 
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-{{ admin.id }}-unlockuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelz">Unlock Account</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to unlock this account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{{ url_for('unlockuser', id=admin.id) }}" class="btn btn-success" style="color: white !important;">Unlock Account</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}