{% extends "user_base.html" %}
{% set active_page = "events" %}
{% from '_formhelpers.html' import render_field %}
{% block title %} EnvironMeet - Create Events Page {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/events.css">
{% endblock %}

{% block content %}

<h1>Create Events</h1>
<form method="POST" action="">
 <div>
     {{ render_field(form.name, class="form-control") }}
 </div>
     <div>
     {{ render_field(form.date, class="form-control") }}
 </div>
     <div>
     {{ render_field(form.time, class="form-control") }}
 </div>
     <div>
     {{ render_field(form.price, class="form-control") }}
 </div>
    <div>
     {{ render_field(form.organiser, class="form-control") }}
 </div>
</form>
{% endblock %}