{% extends "user_base.html" %}
{% set active_page = "events" %}
{% from '_formhelpers.html' import render_field %}
{% block title %} EnvironMeet - Create Events Page {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/events.css">
{% endblock %}

{% block content %}

<div class="contentcreate">
<h1 class="hiaa">Create Events</h1>
    <div class="stuff">
<form method="POST">
        <div class="form-group col" id="remainings">
     {{ render_field(form.organiser, class="form-control") }}
 </div>
 <div class="form-group col" id="remainings2">
     {{ render_field(form.name, class="form-control") }}
 </div>
            <div class="form-row">
    <div class="form-group col">
     {{ render_field(form.date, class="form-control") }}
 </div>
                     <div class="form-group col">
     {{ render_field(form.time, class="form-control") }}
 </div>
            </div>
                <div class="form-row">
     <div class="form-group col">
     {{ render_field(form.price, class="form-control") }}
 </div>
     <div class="form-group col">
     {{ render_field(form.points, class="form-control") }}
 </div>
                    </div>
     <div class="form-group col">
     {{ render_field(form.image, class="form-control") }}
 </div>
    <div id="syvnieg" class="form-group col">
    <button class="btn btn-primary" type="submit">Submit</button>

<h1>To add event links without errors, use this <a href="https://www.shorturl.at/shortener.php">link</a></h1>
</div>
</form>
</div>

    </div>
{% endblock %}