<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">
    {% block head %}
    {% endblock %}
</head>
<body>

    <!-- Navbar -->
    <div class="nav-container" id="nav-container">
      <div class="nav-bar">

        <div class="logo">
          <img src="{{url_for('static', filename='images/environman.png') }}" alt="">
          <h4 id="navName">EnvironMeet</h4>
        </div>

        <button class="collapseNav" id="collapseNavBtn">
          <div class="collapseNavIconBack" id="collapseNavIcon"></div>
        </button>

        <div class="links" id="navLinks">

          <a class="{{ 'active' if active_page == 'members' }}" href="/members" title="Members">
            <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="3.61639" y="3.01181" width="7" height="7" rx="1" stroke="#222222" stroke-linecap="round"/>
              <rect x="3.61639" y="14.0118" width="7" height="7" rx="1" stroke="#222222" stroke-linecap="round"/>
              <rect x="14.6164" y="3.01181" width="7" height="7" rx="1" stroke="#222222" stroke-linecap="round"/>
              <rect x="14.6164" y="14.0118" width="7" height="7" rx="1" stroke="#222222" stroke-linecap="round"/>
            </svg>
            <span class="links-text">
              Members
            </span>
          </a>

          <a class="{{ 'active' if active_page == 'organisations' }}" href="/organisations" title="Organisations">
            <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.9295 5.60629C18.4076 5.60629 19.1467 5.60629 19.6776 5.94833C19.9074 6.0964 20.1048 6.28667 20.2583 6.50828C20.6131 7.02017 20.6131 7.73277 20.6131 9.15797V18.7982C20.6131 20.7117 20.6131 21.6684 19.9966 22.2628C19.3801 22.8573 18.3878 22.8573 16.4033 22.8573H10.0885C8.10396 22.8573 7.11169 22.8573 6.49518 22.2628C5.87866 21.6684 5.87866 20.7117 5.87866 18.7982V9.15797C5.87866 7.73277 5.87866 7.02017 6.2334 6.50828C6.38698 6.28667 6.58431 6.0964 6.81415 5.94833C7.34506 5.60629 8.08413 5.60629 9.56227 5.60629" stroke="#222222"/>
              <path d="M10.0885 5.60629C10.0885 4.48542 11.0309 3.57677 12.1934 3.57677H14.2983C15.4609 3.57677 16.4033 4.48542 16.4033 5.60629C16.4033 6.72717 15.4609 7.63582 14.2983 7.63582H12.1934C11.0309 7.63582 10.0885 6.72717 10.0885 5.60629Z" stroke="#222222"/>
              <path d="M10.0885 12.7096L16.4033 12.7096" stroke="#222222" stroke-linecap="round"/>
              <path d="M10.0885 16.7687L14.2983 16.7687" stroke="#222222" stroke-linecap="round"/>
            </svg>
            <span class="links-text">
              Organisations
            </span>
          </a>

          {% if current_user.is_authenticated %}
            <a class="{{ 'active' if active_page == 'logout' }}" href="/logout" title="Logout">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18">
                <path id="Path_24" data-name="Path 24" d="M17,7,15.59,8.41,18.17,11H8v2H18.17l-2.58,2.58L17,17l5-5ZM4,5h8V3H4A2.006,2.006,0,0,0,2,5V19a2.006,2.006,0,0,0,2,2h8V19H4Z" transform="translate(-2 -3)"/>
              </svg>
              <span href="/logout" class="links-text">Logout</span>
            </a>
          {% endif %}
        </div>

      </div>
    </div>


    <!-- Content -->
    <div class="main-content" id="contentMain"></div>
    {% block content %}
    {% endblock %}
    </div>  

    <!-- Footer -->

  <script src="{{ url_for('static', filename='scripts/nav.js') }}"></script>

</body>
</html>