{% extends "admin_base.html" %}
{% set active_page = "feed" %}
{% block title %} EnvironMeet - Admin {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/accounts.css">
{% endblock %}

{% block content %}
<div class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class='flashes'>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} " id='alert'>
    <span>{{ message }}</span>
    <button type="button" style='float:right;'class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}