{% extends "user_base.html" %}
{% set active_page = "attendance" %}
{% block title %} EnvironMeet - Attendance Page {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/events.css">
{% endblock %}

{% block content %}


<div class="content">
   <h1 class="hiaa">Your attendance</h1>
    <table>
        <tr><th>List of events to attend</th></tr>
        {% for record in records %}
        <tr><td>{{ record.event.name }}</td></tr>
        <tr><td>{{ record.id }}</td></tr>
        {% endfor %}
    </table>
</div>

{% endblock %}