{% extends "user_base.html" %}
{% set active_page = "chat" %}
{% block title %} EnvironMeet - Chat {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/styles/chat.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div class="content">

    <div class="container">

      <div class="page-heading">
        <h1>Live Chats</h1>
        <p>Join or start live discussions rooms on environmental issues!</p>
      </div>

      <form method="POST" class="join-chat">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="room-code" type="text" placeholder="Chat Room Code" name="code" value="{{code}}" />
        <button type="submit" name="join" class="join-btn">Join Chat</button>
        <!-- Style this later -->
        {% if error %}
        {{ error }}
        {% endif %}
      </form>

      <form method="POST" class="create-chat" action="{{ url_for('create_chat') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="col">
          <span class="span-heading">Start a Live Discussion: </span>
          <span class="span-para">You can share the code to your followers on your feed to promote discussions!</span>
        </div>
        <button type="submit" name="create" class="create-btn">Create a Chat</button>
      </form>

    </div>

</div>

{% endblock %}