{% extends "user_base.html" %}
{% set active_page = "chat" %}
{% block title %} EnvironMeet - Chat {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/styles/chat.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div class="content">

  <div class="container">

    <a href="/chats" class="back-btn red">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" viewBox="0 0 7.41 12">
      <path id="Path_23" data-name="Path 23" d="M15.41,16.09,10.83,11.5l4.58-4.59L14,5.5l-6,6,6,6Z" transform="translate(-8 -5.5)"/>
      </svg>
      Leave
    </a>

    <h2>Chat Room: {{ code }}</h2>

    <div class="message-box">
        <div class="messages" id="messages">
          {% for msg in messages %}
          <div class="{{ 'my-msg' if user.username == msg.name else 'message' }}">
            <div class="text-row">
              <span><strong>{{ msg.name }}</strong></span>
              <span class="muted">{{ msg.timestamp }}</span>
            </div>
            <div class="text-row theMsg">
              {{ msg.message }}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="msg-input">
          <input
            type="text"
            rows="3"
            placeholder="Message"
            name="message"
            id="message"
          />
          <button type="button" name="send" id="send-btn">
            Send
          </button>
        </div>
    </div>

  </div>

  <script>
    const current_user = '{{ user.username }}';
  </script>

  <script src="/static/scripts/chat.js"></script>

</div>

{% endblock %}