{% extends "user_base.html" %}
{% set active_page = "leaderboard" %}
{% from '_formhelpers.html' import render_field %}
{% block title %} EnvironMeet - Leaderboard {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/leaderboardinvite.css">
{% endblock %}

{% block content %}

<div class="content">
    <form class="bg-white border border-grey rounded-5 me-5 p-3" method="POST" action="">
        <div class="form-group p-1">
            {{ render_field(form.name, class="form-control") }}
        </div>
        <div class="form-group p-1">
            {{ render_field(form.desc, class="form-control") }}
        </div>
        <div class="form-group p-1">
            {{ render_field(form.username, class="form-control") }}
        </div>
        <input type="submit" value="Submit" class="btn btn-primary p-1"/>
    </form>

</div>

{% endblock %}