{% extends "user_base.html" %}
{% set active_page = "events" %}
{% block title %} EnvironMeet - Thank you for creating event {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/events.css">
{% endblock %}

{% block content %}

<div class="contentcreate">
        <div class="stuff">
    <h2>Thank you for creating an event!</h2>
    <h2>Hope to work with your organization more!</h2>

    <a class="btn btn-primary" href="#" role="button">Submit</a>
</div>
</div>
{% endblock %}