{% extends "login_base.html" %}
{% from '_formhelpers.html' import render_field %}
{% block title %}EnvironMeet - Forget{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class='flashes'>
{% for category, message in messages %}
<div class="alert alert-{{ category }} " id='alert'>
<span>{{ message }}</span>
</div>

{% endfor %}
</div>
{% endif %}
{% endwith %}
<h3 style="margin-bottom: 20px;">Forgot password</h3>
<h6 style="margin-bottom: 20px;">A link to change your password will be sent to the email registered with your account below.</h6>
  <div class="cont">
    <form class="bg-white border border-grey rounded-5 me-5 p-3" method="POST" action="">
      <div class="form-group p-1">
        {{ render_field(form.email, class="form-control") }}
      <input type="submit" value="Submit" class="btn btn-primary p-1" style="margin-top: 10px"/>
    </form>
  </div>
  <br>
<h6><a href="/login">Back to Login</a></h5>


{% endblock %}