{% extends "user_base.html" %}
{% set active_page = "leaderboard" %}
{% from '_formhelpers.html' import render_field %}
{% block title %} EnvironMeet - Leaderboard {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/leaderboardinvite.css">
<link rel="stylesheet" href="../../static/styles/joinleaderboardinvite.css">
{% endblock %}

{% block content %}

<div class="content">
    <div class="LeaderboardButtons">
        <a href="/leaderboard/global">
            <button class="tablinks">Global</button>
        </a>
        <button class="tablinks" onclick="openTab(event, 'Invite')" id="defaultInviteOpen">Invite</button>
    </div>
    <div id="Invite" class="tabcontent">
        <div class="InviteButtons">
            <button class="invitelinks" onclick="openInvite(event, 'inviteleaderboards')" id="defaultJoinedOpen">Your Leaderboards</button>
            <button class="invitelinks" onclick="openInvite(event, 'joininvite')">Join Leaderboards</button>
            <button class="invitelinks" onclick="openInvite(event, 'createinvite')">Create A Leaderboard</button>

        </div>

        <div id="inviteleaderboards" class="invitecontent">
            {% for ldbod in leaderboardcontents %}
            {% if current_user.id == ldbod.memberid %}
            <a href="invite/{{ get_leaderboard_from_id(ldbod.leaderboardid).name }}">
                <button type="button" class="btn btn-primary"> {{ ldbod.leaderboardname }} </button>
            </a>
<!--                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--                  {{ ldbod.leaderboardname }}-->
<!--                </button>-->

                <!-- Modal -->
<!--                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--                  <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--                    <div class="modal-content">-->
<!--                      <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                          <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                      </div>-->
<!--                      <div class="modal-body">-->
<!--                        <p>poo</p>-->
<!--                      </div>-->
<!--                      <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
            {% endif %}
            {% endfor %}
        </div>
        <div id="joininvite" class="invitecontent">
            <input type="text" placeholder="Search..">
            <br>
            {% for leaderboard in leaderboards %}
                <a href="invite/{{ get_leaderboard_from_id(leaderboard.id).name }}">
                    <button type="button" class="btn btn-primary"> {{ leaderboard.name }} </button>
                </a>
            {% endfor %}

        </div>
        <div id="createinvite" class="invitecontent">
            <form class="bg-white border border-grey rounded-5 me-5 p-3" method="POST" action="">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <div class="form-group p-1">
                {{ render_field(form.name, class="form-control") }}
              </div>
              <div class="form-group p-1">
                {{ render_field(form.desc, class="form-control") }}
              </div>
              <input type="submit" value="Submit" class="btn btn-primary p-1" formaction="/leaderboard/invite"/>
            </form>
        </div>
    </div>
</div>

<script src="../static/scripts/leaderboardinvite.js"></script>

{% endblock %}