{% extends "user_base.html" %}
{% set active_page = "leaderboard" %}
{% block title %} EnvironMeet - Leaderboard {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/leaderboard.css">
{% endblock %}

{% block content %}

<div class="content">

    <div class="LeaderboardButtons">
        <button class="tablinks" onclick="openTab(event, 'Global')" id="defaultGlobalOpen">Global</button>
        <a href="/leaderboard/invite">
            <button class="tablinks">Invite</button>
        </a>
    </div>

    <div id="Global" class="tabcontent">
        <div class="GlobalButtons">
            <button class="globallinks" onclick="openGlobal(event, 'AllTime')" id="defaultAllTimeOpen">All-Time</button>
            <button class="globallinks" onclick="openGlobal(event, 'Yearly')">Yearly</button>
        </div>

        <div id="AllTime" class="globalcontent">
            <table class="alltimeleaderboard">
                <tbody>
                    {% for member in members %}
                    {% if loop.index == 1 %}
                    <tr class="leaderboardfirst">
                        <td>{{ loop.index }}</td>
                        <td class="membername">{{ member.username }}</td>
                        <td>{{ member.points }} Points</td>
                    </tr>
                    {% elif loop.index == 2 %}
                    <tr class="leaderboardsecond">
                        <td>{{ loop.index }}</td>
                        <td class="membername">{{ member.username }}</td>
                        <td>{{ member.points }} Points</td>
                    </tr>
                    {% elif loop.index == 3 %}
                    <tr class="leaderboardthird">
                        <td>{{ loop.index }}</td>
                        <td class="membername">{{ member.username }}</td>
                        <td>{{ member.points }} Points</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="membername">{{ member.username }}</td>
                        <td>{{ member.points }} Points</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>



        </div>
        <div id="Yearly" class="globalcontent">
            <table class="alltimeleaderboard">
                <tbody>
                    {% for member in yearlymembers %}
                    {% if loop.index == 1 %}
                    <tr class="leaderboardfirst">
                        <td>{{ loop.index }}</td>
                        <td class="membername">{{ member.name }}</td>
                        <td>{{ member.yearlypoints }} Points</td>
                    </tr>
                    {% elif loop.index == 2 %}
                    <tr class="leaderboardsecond">
                        <td>{{ loop.index }}</td>
                        <td class="membername">{{ member.name }}</td>
                        <td>{{ member.yearlypoints }} Points</td>
                    </tr>
                    {% elif loop.index == 3 %}
                    <tr class="leaderboardthird">
                        <td>{{ loop.index }}</td>
                        <td class="membername">{{ member.name }}</td>
                        <td>{{ member.yearlypoints }} Points</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="membername">{{ member.name }}</td>
                        <td>{{ member.yearlypoints }} Points</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



</div>

<script src="../static/scripts/leaderboard.js"></script>

{% endblock %}