{% extends "user_base.html" %}
{% set active_page = "profile" %}
{% from '_formhelpers.html' import render_field %}
{% block title %}EnvironMeet - Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/accounts.css')}}">
{% endblock %}
{% block content %}
<div class="content">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class='flashes'>
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} " id='alert'>
  <span>{{ message }}</span>
  <button type="button" style='float:right;'class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>

  </div>

  {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  <h3 class="heading">OTP Valid for:</h3>
  <br>
  <h4 class="timer" id="timer"></h4>
  <progress max="{{ valid }}" value="{{ valid }}" class="progress progress--valid" id="progressBar"></progress>
  <br>
  <input class="btn btn-success" id="resend" type="button" value="Resend OTP" onClick="window.location.reload(true)" style="visibility: hidden;">
  
  <script>
    // progress bar
      const timerElement = document.getElementById("timer");
      const progressBar = document.getElementById("progressBar")
      var timerCounter = progressBar.max;
      const interval = setInterval(() => {
          if (timerCounter <= 1) {
              document.getElementById("resend").style.visibility = "visible";;
              clearInterval(interval);
          }
          timerCounter = timerCounter - 1;
          progressBar.value = timerCounter;
      }, 1000);
    // countdown
      var timeInSecs;
      var ticker;

      function startTimer(secs) {
        timeInSecs = parseInt(secs);
        ticker = setInterval(tick, 1000); 
      }

      function tick() {
        var mins = Math.floor(timeInSecs / 60);
        var secs = timeInSecs % 60;
        
        if (mins > 0 || secs > 0) {
          if (secs === 0) {
            mins--;
            secs = 59;
          } else {
            secs--;
          }
          timeInSecs--;
        } else {
          clearInterval(ticker);
        }
        var text = (mins < 10 ? "0" : "") + mins + ":" + (secs < 10 ? "0" : "") + secs;
        document.getElementById("timer").innerText = text;
      }
      startTimer(progressBar.max);
</script>

<form method="POST" action="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <br>
    <div class="form-outline mb-4">
      {{ render_field(form.num, class="form-control") }}
    </div>
    <div class="pt-1 mb-4">
      <input type="submit" value="Login" class="btn btn-dark p-2"/>
    </div>
  </form>
</div>
  {% endblock %}