{% extends "user_base.html" %}
{% set active_page = "profile" %}
{% from '_formhelpers.html' import render_field %}
{% block title %}EnvironMeet - Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/accounts.css')}}">
{% endblock %}
{% block content %}
<div class="content">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class='flashes'>
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} " id='alert'>
  <span>{{ message }}</span>
  <button type="button" style='float:right;'class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>

  </div>

  {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
<form method="POST" action="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <br>
    <div class="form-outline mb-4">
      {{ render_field(form.num, class="form-control") }}
    </div>
    <div class="pt-1 mb-4">
      <input type="submit" value="Login" class="btn btn-dark p-2"/>
    </div>
  </form>
</div>
  {% endblock %}