{% extends "user_base.html" %}
{% set active_page = "profile" %}
{% block title %} EnvironMeet - My Profile {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/accounts.css">
{% endblock %}
{% block content %}
<div class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class='flashes'>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} " id='alert'>
    <span>{{ message }}</span>
    <button type="button" style='float:right;'class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% if loggedout == False %}
    <h1>Dashboard</h1>
    <h2>Welcome {{ current_user.name }}!</h2>
    <h3>Posts: {{ posts }}</h3>
    <h3>Followers: {{ followers }}</h3>
    <h3>Following: {{ following }}</h3>
    <h3>Profile Pic: {{ profile_pic }}</h3>
    <div class="">
        <a href="/update">Update</a>
    </div>
    <div class="">
        <a href="/logout">Logout</a>
    </div>
    {% endif %}
    {% if loggedout == True %}
    <a href="/register">Create a new account?</a>
    <br>
    <a href="/login">Already have an account?</a>
    {% endif %}
</div>

{% endblock %}