{% extends "user_base.html" %}
{% set active_page = "profile" %}
{% block title %} EnvironMeet - Profile {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/accounts.css">
{% endblock %}
{% block content %} 
<!-- <style>
table td{
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    width: 31%;
    display: inline-block;
    height: 250px;
    text-align: center;
}
span{
    display: inline-block;
}
.card{
    float: left;
    margin: 20px;
    padding-top: 15px;
}
</style> -->
<div class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class='flashes'>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} " id='alert'>
    <span>{{ message }}</span>
    <button type="button" style='float:right;'class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>

    </div>

    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1>Dashboard</h1>
    <h2>Welcome!</h2>
    <div class="">
        <a href="/logout">Logout</a>
    </div>
</div>

{% endblock %}