{% extends "user_base.html" %}
{% set active_page = "profile" %}
{% block title %} EnvironMeet - Profile {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/styles/accounts.css">
{% endblock %}
{% block content %} 
<!-- <style>
table td{
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    width: 31%;
    display: inline-block;
    height: 250px;
    text-align: center;
}
span{
    display: inline-block;
}
.card{
    float: left;
    margin: 20px;
    padding-top: 15px;
}
</style> -->
<div class="content">
    <h1>Dashboard</h1>
    <h2>Welcome</h2>
    <div class="container">
    
    </div>
</div>

{% endblock %}